<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <link rel="shortcut icon" href="favicon.ico"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,greek' rel='stylesheet' type='text/css'>



  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", :media => 'all' %>
  <%= stylesheet_link_tag "/stylesheets/theme/reset.css", "/stylesheets/theme/normalize.min.css", "/stylesheets/theme/generic.css", "/stylesheets/theme/blog.css", :media => 'all' %>
  <%= page_header %>
  <style type="text/css">
      #logo {
          background: url(<%= File.join(this_blog.base_url, "images", "theme", "bg#{Random.rand(2) + 1}.jpg") %>) top left no-repeat;
      }
  </style>
</head>
<body>
<div class="page-wrap blog">
  <header>
    <div class="siteWidth careacross-maincontent">
      <a class="logo" href="/"><h1>Careacross</h1></a>
      <ul class="mainMenu">
        <li><a href="http://www.careacross.com/">Home</a></li>
        <li><a href="http://www.careacross.com/story_items/">Stories</a></li>
        <li><a href="http://www.careacross.com/answers/">Answers</a></li>
        <li><a href="http://www.careacross.com/newslist">News</a></li>
        <li><a href="http://www.careacross.com/toolslist">Tools</a></li>
      </ul>
    </div>
  </header>

  <div class="content">
    <div class="headerImageContainer">
      <%= image_tag("innerPages_TopImage.png", :class => "headerImage") %>
    </div>
    <div class="siteWidth title">
      <h2 class="pageTitle">Blog</h2>
    </div>
    <div class="siteWidth mainContainer">
      <div class="mainNav"><%= render_sidebars %></div>
      <div class="mainContent"><%= yield %></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<footer>
  <div class="siteWidth">
    <ul class="footerMenu">
      <li><a href="#">About</a></li>
      <li><a href="#">Editorial Board</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
    <!--footerMenu -->
    <ul class="social">
      <li class="footerLabel">Find us on</li>
      <li class="fb"><a href="#"></a></li>
      <li class="twitter"><a href="#"></a></li>
      <li class="linkedin"><a href="#"></a></li>
      <li class="rss"><a href="#"></a></li>
    </ul>
    <!--social -->
  </div>
</footer>
</body>
</html>
