<div class='meta'>
    <span class='p-author h-card'><%= _("By") %> <%= article.user.nickname %></span>
    <%= category_links(article, _("under")) unless article.categories.empty? %>.
    <%= tag_links(article) unless article.tags.empty? %>
    <span class="sep"></span><span class="date">(<%= display_date(article.published_at) %>)</span>
  <% unless @article.nil?  %>
  <!-- AddThis Button BEGIN _article_content -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style"/>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_twitter" tw:via="CareAcross"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_email"></a>
      <a class="addthis_button_compact"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};
      var addthis_share = addthis_share || {}
      addthis_share = {
          passthrough: {
              twitter: {
                  via: "CareAcross",
                  title: "<%=@article.title%>",
                  text: "<%=@article.title%>"

              }
          }
      }
      </script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52010e755298d660"></script>
      <!-- AddThis Button END -->
  <% end %>

</div>

