<%#= render_head_opengraph(@article, @article.permalink_url(nil, false) )  %>
<div class="article articleContainer read" id="article-<%= @article.id %>">
  <div class="careacross-article careacross-single">
    <h2 class='page-header article_title'><%= link_to_permalink(@article, @article.title) %></h2>
    <div class="article_content">
		<%= @article.html(:body) %>
	</div>
    <%= @article.html(:extended) %>
  </div>
  <%= render 'articles/meta', article: @article %>

  <!--<%# if @article.user.twitter %>-->
      <!--<div class='well'>-->
        <!--<%#= _("If you liked this article you can %s", link_to(_("add me to Twitter"), "http://twitter.com/#{@article.user.twitter}")) %>-->
      <!--</div>-->
  <!--<%# end %>-->

  <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
      <div class="article_comments">
		<h3 class="feedback" id="commentaires">
			<%= render 'articles/comment_counter', article: @article %>
			<% if @article.published_comments.size > 0 then %>
              <a href="#commentform" ref="nofollow"> &raquo;</a>
            <% end %>
		</h3>
		  <%= render "articles/comment_list" %>
	  </div>
  <% end -%>

  <% if @article.allow_comments? %>
      <%= render 'articles/comment_form' %>
  <% else %>
      <div class="well well-small">
        <%= _("Comments are disabled") %>
      </div>
  <% end %>

  <% if @article.allow_pings? -%>
      <h5 class="feedback" id="trackbacks"><%= _('Trackbacks for') %> <em><%= @article.title %></em></h5>
      <% unless @article.published_trackbacks.blank? -%>
          <ol id="trackbacks" class="trackbacks">
            <%= render "trackback", :collection => @article.published_trackbacks %>
          </ol>
      <% end -%>
  <% else -%>
      <div class="well well-small">
        <%= _("Trackbacks are disabled") %>
      </div>
  <% end -%>
</div>
