<%#= render_head_opengraph(@article, @article.permalink_url(nil, false) )  %>

<% content_for :head do %>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="ErI0bMA1E0JAXwvyVMistPsWc4fg2dG5tDPOgeur358="/>
<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript">
      $("#bottom_new_landing_page").submit(function(e){
        e.preventDefault();
        var url = $(this).attr("action");
        var data = $(this).serialize()
        $.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function(data){
            console.log(data);
            ga('send','event', 'conversions', 'interest', 'landing_page_interest');
          },
        });
      });
    </script>
<% end %>
<div class="article articleContainer read" id="article-<%= @article.id %>">
  <div class="careacross-article careacross-single">
    <h2 class='page-header article_title'><%= link_to_permalink(@article, @article.title) %></h2>
    <div class="article_content">
		<%= @article.html(:body) %>
	</div>
    <%= @article.html(:extended) %>
  </div>

  <div class="register-hook">
    <div class="text">
      <label for="bottom_landing_page_email">Join our Community to ask our oncologists.</label></div>
    <div class="register-form ">
      <div class="formContainer landing-fb">
        <form accept-charset="UTF-8" action="http://0.0.0.0:3000/landing_pages" class="new_landing_page" id="bottom_new_landing_page" method="post">
          <div class="field_with_errors"></div>
          <div>
            <input class="text style2" id="bottom_landing_page_email" maxlength="254" name="landing_page[email]" placeholder="Please enter your email" type="email"></div>
          <input type="hidden" name="landing_page[source]" value="blog">
          <div class="landing-button">
            <input class="landing-b button style2" type="submit" value="Join" /></div>
        </form>
      </div>
    </div>
  </div>

  <%= render 'articles/meta', article: @article %>

  <!--<%# if @article.user.twitter %>-->
      <!--<div class='well'>-->
        <!--<%#= _("If you liked this article you can %s", link_to(_("add me to Twitter"), "http://twitter.com/#{@article.user.twitter}")) %>-->
      <!--</div>-->
  <!--<%# end %>-->

  <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
      <div class="article_comments">
		<h6 class="feedback" id="commentaires">
			<%= render 'articles/comment_counter', article: @article %>
			<% if @article.published_comments.size > 0 then %>
              <a href="#commentform" ref="nofollow"> &raquo;</a>
            <% end %>
		</h3>
		  <%= render "articles/comment_list" %>
	  </div>
  <% end -%>

  <% if @article.allow_comments? %>
      <%= render 'articles/comment_form' %>
  <% else %>
      <div class="well well-small">
        <%= _("Comments are disabled") %>
      </div>
  <% end %>

  <% if @article.allow_pings? -%>
      <h5 class="feedback" id="trackbacks"><%= _('Trackbacks for') %> <em><%= @article.title %></em></h5>
      <% unless @article.published_trackbacks.blank? -%>
          <ol id="trackbacks" class="trackbacks">
            <%= render "trackback", :collection => @article.published_trackbacks %>
          </ol>
      <% end -%>
  <% else -%>
      <div class="well well-small">
        <%= _("Trackbacks are disabled") %>
      </div>
  <% end -%>
</div>
