<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52010e755298d660"></script>
<!-- AddThis Button END -->
<li id="comment-<%= comment.id %>">
  <%= avatar_tag(:email => comment.email, :url => comment.url) %>
  <h4>
    <%= _("By") %> <%= (comment.url.blank?) ? h(comment.author) : link_to(h(comment.author), comment.url).nofollowify %>
    <%= display_date_and_time comment.created_at %>
  </h4>
    <%= comment.html %>
    <% unless comment.published -%>
    <div class="spamwarning"><%= _("This comment has been flagged for moderator approval.") %></div>
    <% end -%>
  <hr />
</li>
