<%= javascript_include_tag "ckeditor" %>
<%= javascript_include_tag "config" %>
<style>
    body {
        font-family: Verdana;
        font-size: 11px;
    }

    h2 {
        margin-bottom: 0;
    }

    small {
        display: block;
        margin-top: 40px;
        font-size: 9px;
    }

    small,
    small a {
        color: #666;
    }

    a {
        color: #000;
        text-decoration: underline;
        cursor: pointer;
    }

    #toolbar [data-wysihtml5-action] {
        float: right;
    }

    #toolbar,
    textarea {
        width: 920px;
        padding: 5px;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    textarea {
        height: 280px;
        border: 2px solid green;
        font-family: Verdana;
        font-size: 11px;
    }

    textarea:focus {
        color: black;
        border: 2px solid black;
    }

    .wysihtml5-command-active {
        font-weight: bold;
    }

    [data-wysihtml5-dialog] {
        margin: 5px 0 0;
        padding: 5px;
        border: 1px solid #666;
    }

    a[data-wysihtml5-command-value="red"] {
        color: red;
    }

    a[data-wysihtml5-command-value="green"] {
        color: green;
    }

    a[data-wysihtml5-command-value="blue"] {
        color: blue;
    }
</style>
<!-- wysihtml5 parser rules -->
<script src="/javascripts/advanced.js"></script>
<!-- Library -->
<script src="/javascripts/wysihtml5-0.4.0pre.js"></script>

<input type="hidden" name="user_textfilter" id="user_textfilter" value="<%= current_user.text_filter_name %>" />
<div id="autosave"><%= set_autosave_tag(@article) %></div>
<div id="article_keywords_auto_complete" class="auto_complete"></div>

<h2 class='page-header'>
  <i class='icon-large icon-article-new'></i>
  <%= _("#{controller.action_name.to_s.capitalize} article") %>
  <span class='pull-right'>
    <span id='preview_link'><%= link_to(_("Preview"), {:controller => '/articles', :action => 'preview', :id => @article.id}, {:target => 'new', :class => 'btn'}) if @article.id %></span>
    <input id='save_draft' type="submit" value="<%= _('Save as draft') %>" name="article[draft]" class='btn' />
    <%= save( _("Publish")) %>
  </span>
</h2>

<%= error_messages_for 'article' %>
<div>
  <div class='span9'>
    <div>
      <%= text_field 'article', 'title', :class => 'input-block-level', :placeholder => _('Title') %>
    </div>

    <%= render('images', { :images => @images}) %> <!-- unless @images.empty? %>-->

    <!--<div id='editor-menu'>-->
      <!--<ul class="nav nav-tabs">-->
        <!--<li id='image-link'><%#= toggle_element 'carousel-wrapper', _("Images") %></li>-->
      <!--</ul>-->
    <!--</div>-->

    <div id="editor">
      <i class='icon icon-media'></i> <span id='image-link'><%= toggle_element 'carousel-wrapper', _("Images") %></span>
      <!--<div id='quicktags'>-->
        <!--<script type="text/javascript">edToolbar('article_body_and_extended', '<%= @article.text_filter %>');</script>-->
      <!--</div>-->

      <!--<div id='simple_editor'>-->
      <div class='ckeditor'>
        <%= text_area('article', 'body_and_extended', {:class => 'ckeditor input-block-level', :height => '360px'}) %>
        <%= render 'admin/shared/macros' %>
      </div>
    </div>

    <div class='separator'>
      <h4><%= _("Excerpt") %></h4>
      <%= text_area 'article', 'excerpt', {:height => '150', :class => 'input-block-level', :rows => '5'} %>
      <span class='help-block'><%=_("Excerpts are post summaries that show only on your blog homepage and won’t appear on the post itself") %></span>
    </div>
    
    <div class='well'>
      <fieldset>
        <legend><%= _("Publish settings") %></legend>
        <div class='control-group'>
          <p><%= _("Status") %>: <strong><%= _(@article.state.to_s.downcase) %></strong> <%= toggle_element 'status' %></p>
          <div id='status' style='display: none;'>
            <label for="article_published" class='checkbox'>
              <%= check_box 'article', 'published'  %>
              <%= _("Published") %>
            </label>
            <%= ok_button('status') %>
          </div>
        </div>
        <div class='control-group'>
          <p><%= _("Comments are %s and trackbacks are %s", content_tag(:strong, get_feedback_status(@article.allow_comments)), content_tag(:strong, get_feedback_status(@article.allow_pings))) %>
          <%= toggle_element 'conversation' %></p>
          <div id='conversation' style='display: none'>
            <label for="article_allow_pings" class='checkbox'>
              <%= check_box 'article', 'allow_pings' %>
              <%= _("Allow trackbacks") %>
            </label>
            <label for="article_allow_comments" class='checkbox'>
              <%= check_box 'article', 'allow_comments' %>
              <%= _("Allow comments") %>
            </label>
            <p><span class='btn btn-mini'><%= toggle_element 'conversation', "OK" %></span></p>
          </div>
        </div>
        <div class='control-group'>
          <p><%= _("Published") %> <strong><%= publish_now_or_already_published @article %></strong> <%= toggle_element 'publish' %></p>
          <div id='publish' class='input-append' style='display: none;'>
            <%= calendar_date_select 'article', 'published_at' %>
            <%= ok_button('publish') %>
          </div>
          
        </div>
        <div class='control-group'>
          <p><%= _("Visibility") %>: <strong><%= @article.password.nil? || @article.password.empty? ? _("public") : _("protected") %></strong> <%= toggle_element 'visibility' %></p>
          <div id='visibility' style='display: none'>
            <label for="article_password"><%= _("Password:") %>
              <%= password_field :article, :password, :class => 'span10' %>
            </label>
            <%= ok_button('visibility') %>
          </div>
        </div>
        <div class='control-group'>
          <%= _("Permalink") %>: <%= toggle_element 'permalink' %>
          <div class='inputs-list' id='permalink' style='display: none'>
            <%= text_field 'article', 'permalink', {:class => 'span10'} %>
            <%= ok_button('permalink') %>
          </div>
        </div>
        <div class='control-group'>
          <%= _("Article filter") %>: <strong id='text_filter_placeholder'><%= _("#{@article.text_filter.description}") %></strong> <%= toggle_element 'text_filter' %>
          <div id='text_filter' style='display: none'>
            <select name="article[text_filter]" id="article_text_filter">
              <%= options_for_select text_filter_options, @article.text_filter %>
            </select>
            <%= ok_button('text_filter') %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class='form-actions'>
      <div class='pull-right'>
        <%= link_to_destroy_with_profiles(@article) unless @article.id.nil? or @article.state.to_s.downcase == 'draft' %>
        <span id='destroy_link'><%= link_to_destroy_draft @article %></span>
        <input id='save_draft' type="submit" value="<%= _('Save as draft') %>" name="article[draft]" class='btn info' />
        <%= save( _("Publish")) %>        
      </div>
    </div>

  </div>
</div>

<div class='span3'>
  <div class='well'>
    <h4><%= _("Categories") %></h4>
    <%= render 'categories' %>
  </div>
  <div class='well'>
    <h4><%= _("Tags") %></h4>
    <div class='class'>
      <%= text_field 'article', 'keywords', {:autocomplete => 'off', :class => 'input-block-level'} %>
      <p class='alert alert-warning'><%=_("Separate tags with commas. Use double quotes (&quot;) around multi-word tags, e.g. &quot;opera house&quot;.") %></p>
    </div>
    <%= auto_complete_field 'article_keywords', { :url => { :action => "auto_complete_for_article_keywords"}, :method => 'get', :tokens => ','}%>		
    
  </div>
  <%= get_post_types %>
</div>


<script>
        var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
            toolbar:      "wysihtml5-toolbar", // id of toolbar element
            stylesheets:    "/stylesheets/wysihtml5-stylesheet.css",
            parserRules:  wysihtml5ParserRules
        });
   // editor.composer.commands.exec("insertOrderedList");
   // editor.composer.commands.exec("insertUnorderedList");
        wysihtml5.commands.customClassBlock = {
            exec: function(composer, command, value) {
                var splitted_value = value.split('|');
                var nodeName = splitted_value[0];
                var className = splitted_value[1];
                return wysihtml5.commands.formatBlock.exec(composer, command, nodeName, className, new RegExp(className, "g"));
            },
            state: function(composer, command, value) {
                var splitted_value = value.split('|');
                var nodeName = splitted_value[0];
                var className = splitted_value[1];
                return wysihtml5.commands.formatBlock.state(composer, command, nodeName, className, new RegExp(className, "g"));
            }
        };
</script>
